:host {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  color: light-dark(var(--monochromatic--light-deep), var(--monochromatic--light-pure));
  background-color: light-dark(var(--primary), var(--monochromatic--dark-deep));
  transition:
    color 0.2s ease,
    background-color 0.2s ease;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 2fr;
    gap: 0.75rem;
  }
}

.logo {
  height: 2rem;
  width: auto;
}
