---
import Layout from "../layouts/Layout.astro";
import "../styles/index.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="generator" content={Astro.generator} />
    <title>Emmanuel Mendez - Software engineer</title>
    <meta
      name="description"
      content="Hello, my name is Emmanuel Mendez and I'm a Software engineer."
    />
    <meta
      name="keywords"
      content="Software, Engineer, Developer, Website, Portfolio"
    />
  </head>
  <body>
    <Layout />
  </body>
</html>

<style></style>
