<nav class="navigation">
  @if (responsive.device() | includes: [breakpoints.DESKTOP]) {
    <ul class="navigation__list">
      @for (item of navigationItems; track item.href) {
        <li class="navigation__item">
          <a class="navigation__link" [href]="item.href">{{ item.label }}</a>
        </li>
      }
    </ul>
    <div class="navigation__theme-picker">
      <app-theme-picker />
    </div>
  } @else {
    <app-theme-picker />

    <button class="navigation__button" type="button" (click)="toggleMenu()">
      <span class="material-symbols-outlined navigation__icon">{{
        opened() ? 'close' : 'menu'
      }}</span>
    </button>

    @if (opened()) {
      <ul class="navigation__menu">
        @for (item of navigationItems; track item.href) {
          <li class="navigation__item">
            <a class="navigation__link" [href]="item.href" (click)="closeMenu()">{{
              item.label
            }}</a>
          </li>
        }
      </ul>

      <button
        class="navigation__backdrop"
        type="button"
        aria-label="Close navigation menu"
        (click)="closeMenu()"
      ></button>
    }
  }
</nav>
