<section class="about section">
  <div class="about__body">
    <p class="about__description">
      Computer Engineer with more than five years of experience creating high performant and user
      retention pages, sites and web applications using TypeScript and frontend frameworks such as
      Angular and React, managing global states with NgRx and Redux, documenting UI components in
      Storybook and unit testing them using Jest, Jasmine and Karma.
    </p>
    <p class="about__description">
      Expert in using CSS frameworks and UI component libraries to style and enhance the UX of web
      applications, such as PostCSS, Sass, CSS Modules, Styled Components, Emotion, Bootstrap,
      Tailwind CSS and Angular Material.
    </p>
    <p class="about__description">
      Able to write clean and scalable code applying best practices, programming principles,
      object-oriented programming, reactive programming with RxJS, functional programming, design
      patterns and atomic design.
    </p>
  </div>
</section>
